@media screen and (max-width: 479px) {

    .wrapper {
        width: 200px;
    }

    .header {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header-inner-white {
        position: static;
        top:auto;
        right: auto;
        width: 60px;
        height: 160px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .header-box-item {
        width: 40px;
        height: 40px;
    }

    .contents {
        flex-direction: column;
    }

    .left {
        width: 200px;
        height: 100px;
    }

    .right-column-wrapper {
        width: 200px;
        height: 200px;
        align-items: center;
        padding:20px 30px;
    }
    
    .center-inner-white {
        width: 150px;
        height: 50px;
        margin-bottom:10px;
        justify-content: flex-start;
    }

    .center-inner-red {
        margin: 5px;
    }

    .center-inner-white:last-child {
        margin-bottom: 0 
    }

    .footer {
        width: 200px;
    }

}