@media screen and (max-width: 479px) {

 .wrapper {
    width: 200px;
    margin: auto;
 }

 header {
    padding-right: 70px;
 }

/* header内のリストの要素を縦に並べた際の、最後の要素の余白を削除 */
  header p {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  header p:last-child {
    margin-bottom: 0;
  }

  aside,
  footer {
    width: 100%;
    height: 100px;
  }

  main {
    padding: 20px 0 0 30px;
    width: 100%;
    box-sizing: border-box;
  }

  main div:last-child {
    margin-bottom: 10px;
  }
  
}