
/*ウィンドウ幅が最大767pxまでの場合*/
@media screen and (max-width: 767px) {
    .wrapper {
        width: 300px;
    }

    .header {
        width: 300px;
        height: 100px;
    }

    .left {
        width: 100px;
        height: 250px;
    }

    .contents {
        overflow: hidden;
    }

    .right-column-wrapper {
        width: 200px;
        float: left;
    }

    .center-upper {
        float: left;
        width: 125px;
        height: 50px;
    }
    .right {
        float: right;   
        width: 75px;
        height: 150px;
    }
    .center-middle {
        width: 125px;
        height: 100px;
        clear: left;
        float: left;
    }
    .center-lower {
        width: 200px;
        height: 100px;
        clear: both;
    }

    .footer {
        width: 300px;
        height: 100px;
        clear: both;
    }

}

/*ウィンドウ幅が最大479pxまでの場合*/
@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
    }
    
    .header,
    .left,
    .right-column-wrapper,
    .right,
    .center-upper,
    .center-middle,
    .center-lower,
    .footer {
        float: none !important;
        clear: both !important;
        width: 100% !important;
    }

    .header { 
        height: 100px;
    }
    .left { 
        height: 250px;
    }

    .right { 
        height: 150px;
    }

    .center-upper { 
        height: 50px;
    }

    .center-middle { 
        height: 100px;
    }

    .center-lower { 
        height: 100px;
    }
    .footer { 
        height: 100px;
    }

}