body {
    min-height: 100%;
    height: 100%;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* wrapperクラスを中央寄せ */
.wrapper {
    width: 400px;
    margin: 0 auto;
}

.bg-white {
    background-color: #fff;
}

/** header **/
.header {
    height: 100px;
    color: #fff;
    background-color: #FFCE7a;
}

/** left **/
.left {
    float: left;
    color: #fff;
    width: 150px;
    height: 250px;
    background-color: #9DDDF4;
}

.right-column-wrapper {
    float: left;
    width: 250px;
}

/** center-upper **/
.center-upper {
    float: left;
    color: #fff;
    width: 150px;
    height: 50px;
    background-color: #C2FFC8;
}

/** right **/
.right {
    float: right;
    color: #fff;
    width: 100px;
    height: 150px;
    background-color: #F89C9C;
}

/** center-middle **/
.center-middle {
    clear: left;
    color: #fff;
    width: 150px;
    height: 100px;
    background-color: #FFC2C5;
}

/** center-lower **/
.center-lower {
    clear: both;
    color: #fff;
    width: 250px;
    height: 100px;
    background-color: #FFF083;
}

/** footer **/
.footer {
    height: 100px;
    color: #fff;
    clear: both;
    background-color: #BEA5FF;
}

.contens {
    display: flow-root;
}

/* reset.css*/
* {
    margin: 0;
    padding: 0;
}